.item {
  height: 250px;
  width: 350px;
}

.item1 {
  height: 250px;
  width: auto;
  background-size: cover;
  background-image: url("images/projets/baniere_tailwindxjavascript.png");
}
.item1:hover {
  background-image: url("images/projets/tailwindxjavascript_hover.png");
}

.item2 {
  height: 250px;
  width: auto;
  background-size: cover;
  background-image: url("images/projets/baniere_solary.png");
}
.item2:hover {
  background-image: url("images/projets/solary_hover.png");
}

.item3 {
  height: 250px;
  width: auto;
  background-size: cover;
  background-image: url("images/projets/baniere_solary.png");
}
.item3:hover {
  background-image: url("images/projets/solary_hover.png");
}

nav {
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
  top: 30px;
  right: 0px;
  background-color: #d3d3d3;
  z-index: 2;
  text-decoration: none;
  box-shadow: 0 0 15px #555;
}

nav > ul {
  width: 450px;
  display: flex;
  justify-content: center;
  list-style: none;
  height: 80px;
  align-items: center;
}
nav > ul li {
  margin-left: 20px;
  margin-right: 20px;
}
nav > ul li a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("images/cursor.png"), crosshair;
}

:root {
  --main-color: #d3d3d3;
  --second-color: #ececec;
  --third-color: #e7e7e7;
}

ul {
  list-style: none;
}
ul ul > li {
  text-decoration: none;
}

.main_image {
  width: 100%;
  box-shadow: 0 0 15px #555;
}

.arrow_down {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

header > p {
  font-size: 100px;
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

footer {
  box-shadow: 0 0 15px #555;
  background-color: #d3d3d3;
  height: 180px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
footer h3 {
  margin-top: 80px;
}

.second_index {
  margin-top: 20vh;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}
.second_index .texte_presentation {
  width: 20%;
}
.second_index .pp {
  height: 350px;
  width: 350px;
  box-shadow: 0px 0px 15px #555;
}

.rs {
  width: 80px;
  height: 80px;
  flex: 0 1 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #555;
}

.main_image_second {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.grille {
  max-width: 1300px;
  height: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(250px, 3fr));
  grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
}

.no_see {
  display: none;
}

.mystyle {
  display: flex;
  width: 100%;
  padding: 25px;
  background: #e7e7e7;
  color: white;
  font-size: 25px;
}

.portfolio_item_picture {
  max-width: 800px;
  min-width: 350px;
}

.grille_about {
  box-shadow: 0px 0px 15px #555;
  background-color: #ececec;
  max-width: 90%;
  min-height: 450px;
  height: auto;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  column-gap: 50px;
  display: grid;
  grid-template-rows: auto 3fr;
  grid-template-columns: repeat(auto-fill, minmax(360px, 3fr));
}

.about-categorie {
  margin: 20px;
  width: 100%;
  height: auto;
}

.date {
  color: grey;
}

.about-categorie > h2 {
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .mystyle {
    display: block;
  }

  .arrow_down {
    display: none;
  }

  header {
    height: auto;
    position: sticky;
    top: -130px;
  }

  header > p {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 600px) {
  .mystyle {
    display: block;
  }

  .portfolio_item_picture {
    width: 350px;
  }

  .item {
    margin: 10px;
  }

  .about-categorie {
    max-width: 310px;
    width: auto;
    height: auto;
  }

  nav > ul {
    width: 330px;
  }

  header > img {
    height: 350px;
  }

  header > p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
  }

  .arrow_down {
    display: none;
  }

  .second_index {
    display: block;
    width: 320px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .texte_presentation {
    width: 320px;
  }

  .texte_presentation > p {
    width: 320px;
  }

  .icones {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
