// Images for the differents projects (+ hover)
.item {
  height: 250px;
  width: 350px;
}
.item1{
  height: 250px;
  width: auto;
  background-size: cover;
  background-image: url("images/projets/baniere_stopsmoking.png");
  &:hover{
    background-image: url("images/projets/stopsmoking_hover.png");
  }
}
.item2{
  height: 250px;
  width: auto;
  background-size: cover;
  background-image: url("images/projets/baniere_tailwindxjavascript.png");
  &:hover{
    background-image: url("images/projets/tailwindxjavascript_hover.png");
  }
}
.item3{
  height: 250px;
  width: auto;
  background-size: cover;
  background-image: url("images/projets/baniere_solary.png");
  &:hover{
    background-image: url("images/projets/solary_hover.png");
  }
}
.item_part_1_2{
  display: flex;
}
.item_part_2{
  margin-top: 40px;
  margin-left: 20px;
}
.item_part_2>h3{
  margin-top: 30px;
}
.techno_ul_li{
  font-size: 20px;
}
.item_text_part{
  font-size: 20px;
}
