// Menu
nav{
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
  top: 30px;
  right: 0px;
  background-color: $main-color;
  z-index: 2;
  text-decoration: none;
  box-shadow: 0 0 15px #555;
}
nav>ul{
  width: 450px;
  display: flex;
  justify-content: center;
  list-style: none;
  height: 80px;
  align-items: center;
  li{
    margin-left: 20px;
    margin-right: 20px;
    a{
      text-decoration: none;
      color: black;
    }
  }
}
